.main{
    background-image: url("/static/main.jpg");;
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 29em;
}
.center-aligned
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
}
.center-aligned label
{
    font-weight: bold;
}
.form-border
{
    border: black 1px solid;
}
.main1{
    background-image: url("/static/1.png");
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 15em;
    margin: auto;
    margin-top: 3%;
}
.btn btn-primary{
    margin-left: 30px;
}

