{% extends "layout.html" %}

{% block main %}
<div class="main1">
    
</div>
<div class="container">
    <div class="mt-4" >
        <form class="pt-4 " action="/label" method="POST">
            <div class="center-aligned form-group form-border p-4" style="max-width: 40%;">
                <label for="item-name">Item Name</label>
                <input class="form-control" type="text" name="item-name" id="item-name"><br>
                <label for="model-number">Model Number</label>
                <input class="form-control" type="text" name="model_no" id="model_no"><br>
                <label for="mrp">M.R.P</label>
                <input class="form-control" type="number" name="mrp" id="mrp"><br>
                <label for="offer-price">Offer Price Rs</label>
                <input class="form-control" type="text" name="offerpr" id="offerpr"><br>
            </div>
            <div class="center-aligned" style="justify-content: right;display: flex;">
                <button type="submit" id="redirect_to_label" class="btn btn-primary">Next</button>
            </div>
            
            
            
        </form>
        
       
    </div>

</div>

{% if flag==1 %}
<a href="/page"><button type="button" id="nxt" class="btn btn-primary">Print</button></a>
{% endif %}


{% endblock %}
